/* form */
.notice_wrap, .notice_view, .Faq_wrap, .class_wrap, .archive_wrap{
  max-width: 800px;
}
.top_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--padding)*4.5);
}
.notice_h2, .Faq_h2, .class_h2, .archive_h2{
  font-size: 1.125em;
  line-height: 1em;
  font-weight: 700;
}
.view_search, .faq_search, .class_search, .archive_search{
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}
.view_search .search_box, .faq_search .search_box, .class_search .search_box, .archive_search .search_box{
  background: #F8F8F8;
}
/* notice list */
.board_wrap{
  width: 100%;
  line-height: 1em;
}
.board_list{
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border1);
}
.board_list li{
  padding: 15px 10px;
  box-sizing: border-box;
}
.board_head{
  font-weight: 700;
  border-bottom: 1px solid var(--border2);
}
.col_no{
  min-width: 120px;
  text-align: center;
  flex-shrink: 0;
}
.col_title{
  flex: 1;
  min-width: 0;
}
.col_title a{
  position: relative;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
  transition: .3s;
}
.col_title a:hover{
  text-decoration: underline;
}
.col_date{
  width: 120px;
  text-align: center;
  color: var(--grey3);
  flex-shrink: 0;
}
.col_action{
  margin: 0 10px;
}
.board_head .col_date{
  color: var(--black);
}

/* notice view */
.notice_content{
}

/* 제목 영역 */
.notice_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--padding)*2);
  border-bottom: 1px solid var(--border2);
}
.notice_title{
  font-weight: 600;
}
.notice_date{
  font-size: 0.875em;
  color: var(--grey3);
}
/* 본문 */
.notice_body{
  padding: 20px 15px;
  line-height: 1.6em;
  min-height: 300px;
  word-break: keep-all;
  text-align: justify;
  background: #FBFBFB;
  border-bottom: 1px solid var(--border1);
  margin-bottom: calc(var(--padding)*1.5);
}
/* 하단 */
.notice_bottom{
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn_list{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 30px;
  line-height: 15px;
  background: #EEEEEE;
  border-radius: 8px;
  transition: .25s;
}
.btn_list:hover{
  background: #e9e9e9;
}


/* faq */
.Faq_list{
  
}

.Faq_item{
  border-bottom: 1px solid var(--border1);
}
/* 질문 */
.Faq_q{
  width: 100%;
  padding: 20px 20px 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1em;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
}
.Faq .mark{
  font-weight: 600;
  min-width: 80px;
  text-align: center;
}
.Faq_q .txt{
  flex: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Faq_q .arrow{
  width: 20px;
  opacity: 0.65;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.Faq_q .arrow img{
  width: 100%;
}
/* 답변 (애니메이션 핵심) */
.Faq_a{
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  background: #FBFBFB;
  line-height: 1.6em;
}
.Faq_a_inner{
  border-top: 1px solid var(--border2);
  padding: 20px 0 30px;
  display: flex;
  gap: 10px;
  font-weight: 500;
}
.Faq_item.active .Faq_q .arrow{
  transform: rotate(180deg);
}

/* class_rivew */
.class_review{

}
.class_review_list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.class_review_item{
  border: 1px solid var(--border1);
  border-radius: 12px;
  padding: 15px;
  background: var(--white);
}
.class_review_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875em;
  color: var(--grey3);
  margin-bottom: calc(var(--padding)*2);
}
.class_review_head .meta{
  display: flex;
  gap: 10px;
}
.class_review_body .title{
  display: block;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 8px;
}
.class_review_body .content{
  font-size: 0.975em;
  line-height: 1.45em;
  color: var(--dark);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.class_review_item.is-open .content{
  -webkit-line-clamp: unset;
  overflow: visible;
}

/* archive */
.archive_list{
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border1);
  line-height: 2em;
}
.archive_head{
  font-weight: 700;
  border-bottom: 1px solid var(--border2)
}
.btn_download{
  padding: 8px 30px;
  border-radius: 10px;
  background: var(--grey1);
  font-size: 0.875em;
  color: var(--dark);
  cursor: pointer;
  transition: .3s;
}
.btn_download:hover{
  background: var(--dark);
  color: var(--white);
}

