.AD_vod_list{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0 50px;
  overflow: hidden;
}
/*swiper*/
.adVodSwiper{
  position: relative;
  width: 100%;
  overflow: visible;
}
/*슬라이드*/
.ad_vod_item{
  width: 1200px;
  height: 330px;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  background-color: black;
}
.ad_vod_item a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad_vod_item a img{
  display: block;
  width: 100%;
}
/*활성슬라이드*/
.adVodSwiper .swiper-slide-active{
  opacity: 1;
}
.control_bar{
  position: absolute;
  bottom: 35px;
  left: calc(50% + 480px);
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--black);
  z-index: 5;
  padding: 4px;
  border-radius: 16px;
}
.control_bar button{
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
.control_bar button:hover svg{
  fill: var(--point_main);
}
.control_bar .btn_pause{
  cursor: auto;
}
.control_bar .btn_pause svg{
  fill: white !important;
}
.ad_vod_pagination{
  position: absolute;
  bottom: 35px;
  left: calc(50% - 555px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: auto;
  min-width: 70px;
  min-height: 28px;
  background-color: var(--black);
  z-index: 5;
  padding: 4px 10px;
  border-radius: 16px;
  color: white;
}

/* search_list */
.search_list{
  padding-top: calc(var(--padding)*5);
}
.search_title{
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: calc(var(--padding)*2.5);
}

/* keyword_page */
.keyword_page{
  background-color: #F8F8F8;
  padding: 105px 0 135px;
  margin-bottom: calc(var(--padding)*13);
}
.keyword_page h2{
  font-size: 1.375em;
  line-height: 1.25em;
  font-weight: 500;
  text-align: center;
  padding-bottom: calc(var(--padding)*4);
}
.keyword_page .keyword_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 800px;
  margin: 0 auto;
  font-size: 1.125em;
  line-height: 1.1em;
}
.keyword_page .keyword_list li{
  background-color: var(--white);
  border-radius: 100px;
  transition: .25s;
}
.keyword_page .keyword_list li:hover{
  background-color: #444444;
  color: var(--white);
}
.keyword_page .keyword_list li a{
  display: block;
  padding: 7px 20px;
}

/* notice_page */
.notice_page{}
.notice_page .d_f{
  gap: 40px;
}
.notice_page h2{
  font-size: 1.125em;
  line-height: 1.1em;
  font-weight: 600;
  padding-bottom: 20px;
}
.notice_page h2 a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice_page .Feedback, .notice_page .FAQ{
  border: 1px solid var(--border1);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 15px 15px 6px #9C9C9C29;
  background-color: var(--white);
  flex: 1;
  min-width: 0;
}
.notice_page .notice_list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.notice_page .notice_list li{
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border1);
}
.notice_page .notice_list li:last-child{
  border: none;
}
.notice_list li a{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}
.notice_list li a:hover{
  color: var(--dark);
}