.login{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
}
.login_page{
  padding-top: 7vh;
  margin: auto 0;
}
.login_page h2{
  margin: 0 auto;
  padding-bottom: calc(var(--padding)*7.5);
}
.login_page h2 img{
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.login_opction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875em;
  color: #949494;
  padding-bottom: calc(var(--padding)*6);
}
.login_page .auth_form{
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login_page .auth_form .page_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_page .auth_form .page_wrap li::after{
  content: '|';
  margin: 0 5px;
  color: var(--border1);
}
.login_page .auth_form .page_wrap li:last-child::after{
  display: none;
}
.login_page .btn_submit{
  font-size: 1.15em;
  border-radius: 10px;
  background-color: #002C66;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  transition: .2s;
}
.adv_bn{
  width: 100%;
  padding: calc(var(--padding) * 3) 0;
  background-color: #f2f3f7;
  margin-top: auto;
}
.adv_bn a{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.adv_bn img{
  max-width: 100%;
  width: 90%;
  display: block;
  margin: 0 auto;
}